.select-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: appear;
  animation-duration: 350ms;
  color: #fff;
  z-index: 998;
  backdrop-filter: blur(3px);
  background-color: rgb(0, 0, 0, 0.7);
  /* background-color: rgb(22, 27, 34, 1); */
}

/* .App{
    filter: blur(8px);
    -webkit-filter: blur(8px); 
} */

.select-modal-content {
  /*     padding-left: 20px;
    padding-right: 20px; */
  max-width: 400px;
  /* padding-left: 10px; */
  width: 97%;
  height: 70%;
  /* background-color: #144272; */
  background-color: rgb(3, 3, 9) !important;
  border: 1px solid gray !important;
  border-radius: 12px !important;
  font-family: sans-serif;
  text-align: left !important;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: slide-in;
  animation-duration: 0.5s;
  z-index: 999;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}

.close {
  cursor: pointer;
}

.searchToken {
  background-color: transparent;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto !important;
  width: 80% !important;
  color: white;
  border: 1px solid #2c74b3;
}

.selectedToken {
  display: flex;
  margin: auto !important;
  width: 90% !important;
  /* justify-content: space-between; */
  padding: 10px;
}

.setToken {
  display: flex;
  align-items: center;
  padding: 7px;
  border: 1px solid #2c74b3;
  border-radius: 20px;
  box-sizing: border-box;
  margin-right: 1.5rem;
  cursor: pointer;
}

.titleHead {
  display: flex;
  justify-content: space-between;
}

.titleHeaderSelect {
  line-height: 42px;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
}
.tokenList {
  margin-top: 15px;
  /* padding-left: 10px; */
}

.tokenNames {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  line-height: 17px;
  cursor: pointer;
}

.tokensIcon {
  padding-right: 10px;
}

.tokenNames:hover {
  background-color: rgb(93, 103, 133, 0.5);
  color: white;
}

.tokensTitle {
  font-size: 18px;
  font-weight: bold;
}

.tokensSymbol {
  font-size: 15px;
  color: gray;
  padding-top: 3px;
}

input::placeholder {
  color: #fff;
}
